# Secrets
credentials.env
secrets.pve.auto.pkrvars.hcl
secrets.auto.tfvars

.terraform/

# Logs
.log
terraform-plugin-proxmox.log
crash.log

# Machine Images 
*.iso


.env
images/secrets.pve.auto.pkvars.hcl
